{% load crispy_forms_tags %}

{% block title %}Add text{% endblock title %}

<hr>
    <div>
        <div class="col-lg-50" >
            <form action="" method="post" enctype="multipart/form-data">
                {% csrf_token %}
                {{ form|crispy }}
                <button type="submit" value="text" class="btn btn-dark">Add text</button>
            </form>
            <a href="{% url 'list_text' %}" class="btn btn-dark text-white"><h1>View all texts</h1></a>
        </div>
        </div>
