{% load crispy_forms_tags %}

{% block title %}Delete text{% endblock title %}

{% block content %}



    <div class="card">
  <div class="card-body">


<form action="" method="POST">
    {% csrf_token %}
    {{ crispy }}

    <p>Are you sure you want to delete the text ID - {{ text.pk }}?</p>

    <button class="btn btn-dark" type="submit" >Delete</button>
    <input class="btn btn-dark" type="button" value="Back"
           onclick="location.href='{% url 'detail_text' text.pk%}'">
</form>
  </div>
</div>
{% endblock content %}