{% load crispy_forms_tags %}

{% block content %}
<style>

img:hover {
  box-shadow: 0 0 2px 1px rgba(0, 140, 186, 0.5);
}
</style>

    <div class="card text-center">
        <div class="card-header">
            <h3>Text ID {{ text.pk }}</h3>
            <h4 class="card-title">{{ text.body }}</h4>
        </div>
        <div class="card-body">

<p class="card-text" align="justify"></p>
            <a href="{% url 'list_text' %}" class="btn btn-dark text-white">Go to the list</a>
            <a href="{% url 'update_text' text.pk %}" class="btn btn-dark text-white">Update</a>
            <a href="{% url 'delete_text' text.pk %}" class="btn btn-dark text-white">Delete</a>

        </div>
    </div>
<div class="table table-striped table-dark">
            <table class="table table-hover table-dark" style="color: black">
                <thead>
                <tr>
                    <th scope="col">Word</th>
                    <th scope="col">Pos</th>
                    <th scope="col">Tag</th>
                </tr>
                </thead>
                <tbody>
                {% for t in text.text.all %}
                    <tr>
                        <td>{{ t.word }}</td>
                        <td>{{ t.pos }}</td>
                        <td>{{ t.tag }}</td>
                    </tr>
                {% endfor %}
                </tbody>
            </table>
        </div>
{% endblock content %}
