{% load crispy_forms_tags %}

<a href="{% url 'create_text' %}" class="btn btn-dark text-white"><h1>Create new text</h1></a>
<hr>


{% block content %}

{% if not text_list %}
    <h1>Texts not found</h1>
{% else %}

    {% for t in text_list %}



<div class="hover ehover12 my-3 bg-dark">


    <div class="overlay">
        <h3>Text ID: {{t.pk}}</h3>
        <h5>{{t.body}}</h5>
        <hr>
        <button class="info nullbutton" data-toggle="modal" data-target="#modal12">
            <a href="{% url 'detail_text' t.pk %}" class="btn bg-dark text-white">View details</a>
        </button>

        <button class="info nullbutton" data-toggle="modal" data-target="#modal12">
            <a href="{% url 'update_text' t.pk %}" class="btn bg-dark text-white">Update</a>
        </button>

        <button class="info nullbutton" data-toggle="modal" data-target="#modal12">
            <a href="{% url 'delete_text' t.pk %}" class="btn bg-dark text-white">Delete</a>
        </button>

        <hr>
    </div>
</div>
    {% endfor %}
{% endif %}
{% endblock content %}
