{% load crispy_forms_tags %}

{% block title %}Update text{% endblock title %}

{% block content %}
<div class="stk-post">

<h3 class="text-md-center">Update text</h3>
<form method="post" enctype="multipart/form-data">
    {% csrf_token %}
    {{  form|crispy   }}
    <button type="submit" value="Добавить" class="btn btn-dark">Update</button>
    <input class="btn btn-dark" type="button" value="back" onclick="location.href='{% url 'list_text' %}'">

</form>
</div>

{% endblock content %}